<div class="jumbotron">
  <h1 class="header rotateIn animated">Do I need snow boots today?</h1>
  <h2 >A weather app</h2>
  <p class="lead">
    <img class="header zoomIn animated" src="images/dog-snow-boots.jpg" alt="dog in snow boots"><br>
  </p>
  <div class="col-lg-12">
    <div class="input-group input-group-lg" id="search-bar">
      <input type="text" class="form-control" placeholder="Location..." ng-model="location">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-primary" id="search-button" role="button" ng-click="findBusinesses()" onClick="document.getElementById('search-results').scrollIntoView();">Get Weather Forecast!</button>
      </span>
    </div>
  </div>
</div>
